[Unit]
Description=driftwm circle-gesture daemon (draw a circle to orbit windows)

[Service]
ExecStart=/usr/local/bin/driftwm-spin
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
